.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orderList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    list-style-position: inside;
    padding-left: 20%;
    font-size: 1.5rem; 
}

